img {
  background-color: white;
  height: 150px;
  width: 150px;
  object-fit: cover;
  filter: grayscale();
  border: 0px solid lightgrey;
  opacity: 60%;
}
h3 {
  text-align: center;
}

#container {
  position: relative;
  display: flex;
  top: 20%;
  left: 20%;
  margin-top: 0;
  width: 100px;
  height: 100px;
}

.image01:hover {
  filter: none;
}
